*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title > li{
    width: 200px;
    height: 10vh;
    background: lightblue;
    border: 2px solid #726d6d;
}
.title{
    display: flex;
    justify-content: center;
}